<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minervaproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_more"
        android:label="Minerva"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinervaProject">
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".InfoActivity" />
        <activity android:name=".FeedActivity" />
        <activity android:name=".DocumentActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>